.main-content
{
    display: grid;
    gap: 16px;
}

.hero-section
{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.hero-img
{
    height: 100%;
    width: 100%;
    background-color: green;
    grid-column-start: 2;
    grid-row: 1/-1;
}

.new-noticeable-section
{
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: 1fr 1fr;
}

.new-noticeable-content
{
    height: 100%;
    width: 100%;
    background-color: blue;
    grid-column: 1/-1;
}
