.main-header
{
    background: inherit;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 6px 20px;
    border-bottom: #e9ecef 2px solid;
}

.search
{
    width: 200px;
    padding: 1px 5px;
    font-size: 14px;
    color: #212529;
}

.main-nav
{
    flex: 1;
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-btn-left
{
    font-size: 15px;
    text-decoration: none;
    background: none;
    border: none;
    color: #868e96;
}

.user-controls
{
    position: relative;
    display: flex;
    gap: 10px;
}

.user-controls button
{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookstore-label
{
    font-family: "Playfair Display", serif;
    font-weight: 1000;
    font-size: 28px;
}

.account-icon
{
    width: 18px;
    color: inherit;
}

.cart-icon
{
    width: 20px;
    color: inherit;
}

.nav-hover:hover
{
    color: #287258;
}

.nav-hover:active
{
    color: #5ba58b;
}

.account-dropdown{
    position: absolute;
    right: 0;
    top: 35px;
    background: white;
    min-width: 160px;
    border: 2px solid #e9ecef;
    padding: 6px 10px;
    z-index: 10;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.welcome-text
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 4px;
    margin-bottom: 4px;
}

.login-btn {
    background-color: #287258;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    color: #212529;
    width: 150px;
}

.login-btn:hover {
    background-color: #edf5d7;
}

.my-books-btn {
    display: block;
    margin: 6px 0;
    padding: 6px 12px;
    font-size: 14px;
    color: white;
    background-color: #287258;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}

.my-books-btn:hover {
    background-color: #1f5e47;
}
