.sell-container
{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    gap: 15px;
}

.sell-form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    border: 1px solid #212529;
}

.sell-div
{
    display: grid;
    grid-template-columns: 100px 1fr;
    font-size: 16px;
    align-items: start;
}

.input-sell
{
    width: 100%;
    font-size: 14px;
    padding: 2px 6px;
}

textarea
{
    resize: none;
    overflow: auto;
    caret-color: auto;
}

.auto-wrapper
{
    position: relative;
    width: 100%;
}

.auto-list
{
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    margin: 0;
    list-style: none;
    z-index: 10;
    width: 100%;
    max-height: 55px;
    overflow-y: auto;
}

.auto-list-item
{
    font-size: 13px;
    padding: 2px 6px;
    cursor: pointer;
}

.auto-list-item:hover
{
    color: #287258;
}
