.shop-content
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shop-buttons
{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    justify-items: end;
    gap: 7px;
}

.shop-buttons .btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 7px 5px 10px;
}

.up-down-icon
{
    color: inherit;
    width: 12px;
}

.filters
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.filter-btn-container
{
    flex: 1;
    max-width: 300px;
    position: relative;
}

.filter-btn
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: none;
    padding: 6px;
    border: #f1f3f5 1px solid;
    box-shadow: 5px 4px 6px #ced4da;
    cursor: pointer;
}

.filter-btn:hover
{
    background-color: #fafcf3;
}

.filter-btn:active
{
    background-color: #fdfefb;
    box-shadow: none;
}

.filter-btn .up-down-icon
{
    width: 13px;
}

.fliter-list-container
{
    pointerEvents: 'auto'
}

.filter-list
{
    position: absolute;
    top: 100%;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
    height: 200px;
    background: white;
    border: #f1f3f5 1px solid;
    box-shadow: 5px 4px 6px #ced4da;
}

.shop-books
{
    margin-top: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    align-self: center;
    width: 85%;
    justify-items: center;
    justify-content: center;
}

.bookcard
{
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 250px;
    background: white;
    border: #212529 1px solid;
    border-radius: 12px;
    align-items: center;
}

.bookcard-img
{
    position: relative;
    width: 100%;
    height: 60%;
    background-color: #e9ecef;
    border-radius: 11px 11px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookcard-upload-time
{
    width: 85%;
    height: 10%;
    border-bottom: #ced4da 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ced4da;
    font-size: 10px;
    margin-bottom: 7px;
}

.bookcard-info
{
    width: 100%;
    padding: 0 20px;
    height: 22%;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
}

.bookcard-title
{
    grid-column: 1/-1;
    font-weight: bold;
    font-size: 12px;
    justify-self: center;
}

.bookcard-price
{
    font-weight: bold;
    font-size: 20px;
}

.bookcard-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    padding: 6px 14px;
    background: #287258;
    color: #edf5d7;
    border-radius: 14px;
}

.bookcard-btn:hover
{
    background-color: #538e79;
    color: #edf5d7;
}

.bookcard-btn:active
{
    background-color: #7eaa9b;
    color: #edf5d7;
}

.like-btn-container
{
    padding: 1px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #212529 1px solid;
    border-radius: 6px;
    background-color: white;
    top: 5%;
    right: 4%;
    gap: 2px;
}

.like-counter
{
    color: #adb5bd;
    font-size: 10px;
}

.like-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.heart-icon
{
    width: 16px;
}
