*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{

}

.container
{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/*  Górny pasek na stronie  */
.main-header
{
    background: red;
    display: flex;
    align-items: center;
}

.main-nav
{
    flex: 1;
}

/*  Zawartość strony  */
.main-content
{
    display: grid;
    gap: 16px;
}

.hero-section
{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.hero-image
{
    height: 100%;
    width: 100%;
    background-color: green;
    grid-column-start: 2;
    grid-row: 1/-1;
}

.new-arrivals-section
{
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: 1fr 1fr;
}

.new-arrivals-content
{
    height: 100%;
    width: 100%;
    background-color: blue;
    grid-column: 1/-1;
}

.newsletter
{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.newsletter-text
{
    grid-row-start: 2;
}